[tool.poetry]
name = "evolutionary-optimisation"
version = "1.0.0"
description = "A generic evolutionatry algorithm for function optimisation."
authors = ["Marta <mswolinska@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"
numpy = "^1.23.0"
matplotlib = "^3.5.2"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
